<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <title>Login/Register</title>

</head>
<body>
  <div class="container">
    {% for message in messages %}
      {% if message.tags == "log_out success" %}
      <div style="color: green;">{{ message }}</div>
      {% endif %}
    {% endfor %}
    <div class="row">
      <div class="col s12 m6 animated slideInLeft slow">
        <h4>Registration</h4>
        <div class="input-field col s10 m10">
          <form method="POST" action="/register/">
            {% csrf_token %}
            <div><label>First Name</label></div>
            {% for message in messages %}
              {% if message.tags == "first_name error" %}
              <div style="color: red;">{{ message }}</div>
              {% endif %}
            {% endfor %}
            <input type="text" name="first_name">
            <div><label>Last Name</label></div>
            {% for message in messages %}
              {% if message.tags == "last_name error" %}
              <div style="color: red;">{{ message }}</div>
              {% endif %}
            {% endfor %}
            <input type="text" name="last_name">
            <div><label>Email</label></div>
            {% for message in messages %}
              {% if message.tags == "email error" %}
              <div style="color: red;">{{ message }}</div>
              {% endif %}
            {% endfor %}
            <input type="text" name="email">
            <div><label>Password</label></div>
            {% for message in messages %}
              {% if message.tags == "password error" %}
              <div style="color: red;">{{ message }}</div>
              {% endif %}
            {% endfor %}
            <input type="password" name="password">
            <div><label>Confirm Password</label></div>
            <input type="password" name="password_confirm">
            <button class="btn-small waves-effect waves-light" type="submit">Submit</button>
          </form>
        </div>
      </div>
      <div class="col s12 m6 animated slideInRight slow">
        <h4>Login</h4>
        <div class="input-field col s10 m10">
          <form method="POST" action="/login/">
            {% csrf_token %}
            {% for message in messages %}
              {% if message.tags == "invalid_login error" %}
              <div style="color: red;">{{ message }}</div>
              {% endif %}
            {% endfor %}
            <div><label>Email</label></div>
            <input type="text" name="email">
            <div><label>Password</label></div>
            <input type="password" name="password">
            <button class="btn-small waves-effect waves-light" type="submit">Login</button>
          </form>
        </div>
      </div>
    </div>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>