<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  {% load mathfilters %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <title>Dashboard Details</title>
</head>

<nav class="animated fadeIn slow">
  <div class="nav-wrapper green darken-2">
    <a href="" class="brand-logo">&nbsp;&nbsp;&nbsp;&nbsp;Hello {{request.session.user_first_name}} (ADMIN)</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>        
        <form action="/products/view/" method="POST">
          {% csrf_token %}
          <button class="waves-effect waves-teal btn-flat white-text" type="submit">Exit Admin</button>
        </form>
      </li>
      <li>        
        <form action="/orders/dashboard/view/" method="POST">
          {% csrf_token %}
          <button class="waves-effect waves-teal btn-flat white-text" type="submit">Orders</button>
        </form>
      </li>
      <li>
        <form action="/products/dashboard/view/" method="POST">
          {% csrf_token %}
          <button class="waves-effect waves-teal btn-flat white-text" type="submit">Products</button>
        </form>
      </li>
      <li>
        <form action="/logout/" method="POST">
          {% csrf_token %}
          <button class="waves-effect waves-teal btn-flat white-text" type="submit">Log out</button>
        </form>
      </li>
    </ul>
  </div>
</nav>

<body>

  <div class="container animated slideInRight slow">

    <h1>ORDER {{order_id}} DETAILS</h1>

    <div class="row">
      <div class="col s12 m4">
        <div class="card blue-grey">
          <div class="card-content white-text">
            <h6>Customer Shipping Info</h6>
            <p>Name: {{ order.shipping_first_name }} {{ order.shipping_last_name }}</p>
            <p>Address: {{ order.shipping_address_1 }} {{ order.shipping_address_2 }}</p>
            <p>City: {{ order.shipping_city }}</p>
            <p>State: {{ order.shipping_state }}</p>
            <p>Zip: {{ order.shipping_zip }}</p>
            <hr>
            <h6>Customer Billing Info</h6>
            <p>Name: {{ order.billing_first_name }} {{ order.billing_last_name }}</p>
            <p>Address: {{ order.billing_address_1 }} {{ order.billing_address_2 }}</p>
            <p>City: {{ order.billing_city }}</p>
            <p>State: {{ order.billing_state }}</p>
            <p>Zip: {{ order.billing_zip }}</p>
          </div>
        </div>
      </div>
      
      <div class="col s12 m8" >
        <table class="striped" style="margin-bottom: 75px;">
          <thead>
            <tr>
              <th>Product ID</th>
              <th>Product Name</th>
              <th>Quantity</th>
              <th>Unit Price</th>
              <th>Total</th>
            </tr>
          </thead>
          <tbody>
            {% for product in orderlist %}
              <tr>
                <td><a href="/products/{{product.product.id}}/details/">{{ product.product.id }}</a></td>
                <td><a href="/products/{{product.product.id}}/details/">{{ product.product.name }}</a></td>
                <td>{{ product.quantity }}</td>
                <td>${{ product.product.price|div:"100" }}</td>
                <td>${{ product.product.price|mul:product.quantity|div:"100" }}</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
        <div>
          <div class="card blue-grey">
            <div class="card-content white-text">
              <span class="card-title">Total: ${{ order.total|div:"100" }}</span> 
              <p>Status: {{ order.status }}</p>
            </div>
          </div>
        </div>
      </div>

    </div>



  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>