<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  {% load mathfilters %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'orders/js/dashboard_view.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'orders/css/dashboard_view.css' %}" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <title>Dashboard View</title>
</head>

<nav class="animated fadeIn slow">
  <div class="nav-wrapper green darken-2">
    <a href="" class="brand-logo">&nbsp;&nbsp;&nbsp;&nbsp;Hello {{request.session.user_first_name}} (ADMIN)</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>        
        <form action="/products/view/" method="POST">
          {% csrf_token %}
          <button class="waves-effect waves-teal btn-flat white-text" type="submit">Exit Admin</button>
        </form>
      </li>
      <li>        
        <form action="/orders/dashboard/view/" method="POST">
          {% csrf_token %}
          <button class="waves-effect waves-teal btn-flat white-text" type="submit">Orders</button>
        </form>
      </li>
      <li>
        <form action="/products/dashboard/view/" method="POST">
          {% csrf_token %}
          <button class="waves-effect waves-teal btn-flat white-text" type="submit">Products</button>
        </form>
      </li>
      <li>
        <form action="/logout/" method="POST">
          {% csrf_token %}
          <button class="waves-effect waves-teal btn-flat white-text" type="submit">Log out</button>
        </form>
      </li>
    </ul>
  </div>
</nav>

<body>

  <div class="container animated slideInUp slow">
    <h1>VIEW ORDERS</h1>
    <table class="highlight col s12 m12">
      <thead>
        <tr>
          <th>Order ID</th>
          <th>Buyer Name</th>
          <th>Date</th>
          <th>Billing Address</th>
          <th>Total</th>
          <th>Status</th>
        </tr>
      </thead>

      <tbody>
        {% for order in orders %}
          <tr>
            <td><a href="/orders/dashboard/{{ order.id }}/details/">{{ order.id }}</a></td>
            <td>{{ order.buyer.first_name }} {{ order.buyer.last_name }}</td>
            <td>{{ order.created_at }}</td>
            <td>{{ order.billing_address_1 }} {{ order.billing_addresss_2 }}, {{ order.billing_city }}, {{ order.billing_state }} {{ order.billing_zip }}</td>
            <td>${{ order.total|div:"100" }}</td>
            <td>
              <form method="POST" action="/orders/dashboard/{{order.id}}/edit/">
                {% csrf_token %}
                <div class="input-field col s12 offset-m5 m3">
                  <select name="status" onchange="this.form.submit()" value="{{ order.status }}">
                    {% for option in select_options %}
                      {% if option == order.status %}
                        <option selected value="{{option}}">{{option}}</option>
                      {% else %}
                        <option value="{{option}}">{{option}}</option>
                      {% endif %}
                    {% endfor %}
                  </select>
                </div>
              </form>
            </td>
          </tr>
        {% endfor %}
      </tbody>
    </table>

  {% if orders.has_other_pages %}
    <ul class="pagination">
      {% if orders.has_previous %}
        <li><a href="?page={{ orders.previous_page_number }}"><i class="material-icons" style="color: black;">chevron_left</i></a></li>
      {% else %}
        <li class="disabled" style="color: lightgrey;"><i class="material-icons">chevron_left</i></a></li>
      {% endif %}
      {% for i in orders.paginator.page_range %}
        {% if orders.number == i %}
          <li class="active"><a href="#!" class="pagination-active" style="color: white">{{ i }}</a></li>
        {% else %}
        <li class="waves-effect"><a href="?page={{ i }}" style="color: black;">{{ i }}</a></li>
        {% endif %}
      {% endfor %}
      {% if orders.has_next %}
        <li class="waves-effect"><a href="?page={{ orders.next_page_number }}"><i class="material-icons" style="color: black;">chevron_right</i></a></li>
      {% else %}
        <li class="disabled" style="color: lightgrey;"><i class="material-icons">chevron_right</i></li>
      {% endif %}
    </ul>
  {% endif %}

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>