<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  {% load mathfilters %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'products/js/dashboard_view.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'products/css/dashboard_view.css' %}" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <title>Details</title>
</head>

<nav class="animated fadeIn slow">
  <div class="nav-wrapper blue-grey darken-2 ">
    <a href="" class="brand-logo">&nbsp;&nbsp;&nbsp;&nbsp;Hello {{request.session.user_first_name}}</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {% if user.admin %}
      <li>        
        <form action="/orders/dashboard/view/" method="POST">
          {% csrf_token %}
          <button class="waves-effect waves-teal btn-flat white-text" type="submit">DASHBOARD (ADMIN)</button>
        </form>
      </li>
      {% endif %}
      <li>
        <form action="/products/view/" method="POST">
          {% csrf_token %}
          <button class="waves-effect waves-teal btn-flat white-text" type="submit">Products</button>
        </form>
      </li>
      <li>
        <form action="/orders/cart/" method="POST">
          {% csrf_token %}
          <button class="waves-effect waves-teal btn-flat white-text" type="submit">Cart ({{request.session.cart_count}})</button>
        </form>
      </li>
      <li>
        <form action="/logout/" method="POST">
          {% csrf_token %}
          <button class="waves-effect waves-teal btn-flat white-text" type="submit">Log out</button>
        </form>
      </li>
    </ul>
  </div>
</nav>

<body>
  <div class="container animated fadeInUp slow">
    <div class="row">
      <div class="col s10 m8">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            {% if product.image %}
              <img src="{{ product.image }}" style="height: 195px">
            {% else %}
              <img src="https://www.duall.com/store/image/products/magnified/110935_110935.jpg" style="width:195px;">
            {% endif %}

            <h4>Product Name: {{ product.name }}</h4>
            <h5>Description: {{ product.desc }}</h5>
            <h5>Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem aperiam eum laboriosam molestiae officiis fugit nemo aliquam animi! Laborum quae ducimus, beatae laudantium est accusantium rerum repudiandae quas ullam aperiam.</h5>
            <h5>Price: ${{ product.price|div:"100"}}</h5>
            <span>
              <form method="POST" action="/orders/cartprocess/{{ product.id }}/">
                {% csrf_token %}
                <input type="number" name="quantity" value=1 min=1 max=100 class="col s2 m2" style="color: white;">
                <button class="btn waves-effect waves-light" type="submit" style="margin-left: 30px; margin-top: 10px;">
                  Buy
                </button>
              </form>
            </span>
          </div>
        </div>
      </div>
    </div>




  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>