<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  {% load static %}
  {% load mathfilters %}
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script type="text/javascript" src="{% static 'products/js/dashboard_view.js' %}"></script>
  <link rel="stylesheet" type="text/css" href="{% static 'products/css/dashboard_view.css' %}" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">
  <title>View Products</title>
</head>

<nav class="animated fadeIn slow">
  <div class="nav-wrapper blue-grey darken-2">
    <a href="" class="brand-logo">&nbsp;&nbsp;&nbsp;&nbsp;Hello {{request.session.user_first_name}}</a>
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      {% if user.admin %}
      <li>        
        <form action="/orders/dashboard/view/" method="POST">
          {% csrf_token %}
          <button class="waves-effect waves-teal btn-flat white-text" type="submit">DASHBOARD (ADMIN)</button>
        </form>
      </li>
      {% endif %}
      <li>
        <form action="/products/view/" method="POST">
          {% csrf_token %}
          <button class="waves-effect waves-teal btn-flat white-text" type="submit">Products</button>
        </form>
      </li>
      <li>
        <form action="/orders/cart/" method="POST">
          {% csrf_token %}
          <button class="waves-effect waves-teal btn-flat white-text" type="submit">Cart ({{request.session.cart_count}})</button>
        </form>
      </li>
      <li>
        <form action="/logout/" method="POST">
          {% csrf_token %}
          <button class="waves-effect waves-teal btn-flat white-text" type="submit">Log out</button>
        </form>
      </li>
    </ul>
  </div>
</nav>

<body>
  <div class="container animated fadeInDown slow">
    <div class="row">
      <div class="col s6 m3">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <h5>Categories</h5>
            <p><a href="/products/category/">All ({{ all_products.count }})</a></p>
            {% for product in product_categories %}
              <p><a href="/products/category/?category={{product.category}}">{{ product.category }} ({{ product.count }})</a></p>
            {% endfor %}
          </div>
        </div>
      </div>
      <div class="col s6 m9">
        <div class="card blue-grey darken-1">
          <div class="card-content white-text">
            <span class="card-title">
              {% if request.session.category %}
                <h3>{{ request.session.category }}</h3>
                {% else %}
                <h3>All</h3>
              {% endif %}
            </span>
          {% for product in products %}
            <div style="display: inline-block; margin-left: 10px; margin: 5px">

              {% if product.image %}
                <a href="/products/{{ product.id }}/details/"><img src="{{ product.image }}" style="height: 96px"></a>
              {% else %}
                <a href="/products/{{ product.id }}/details/"><img src="https://www.duall.com/store/image/products/magnified/110935_110935.jpg" style="height: 96px"></a>
              {% endif %}
              <p>{{ product.name }}</p>
              <p>${{ product.price|div:"100"}}</p>
            </div>
          {% endfor %}

          {% if products.has_other_pages %}
            <ul class="pagination">
              {% if products.has_previous %}
                <li><a href="?page={{ products.previous_page_number }}"><i class="material-icons" style="color: white;">chevron_left</i></a></li>
              {% else %}
                <li class="disabled" style="color: grey;"><i class="material-icons">chevron_left</i></a></li>
              {% endif %}
              {% for i in products.paginator.page_range %}
                {% if products.number == i %}
                  <li class="active"><a href="#!" class="pagination-active" style="color: orange">{{ i }}</a></li>
                {% else %}
                <li class="waves-effect"><a href="?page={{ i }}" style="color: white;">{{ i }}</a></li>
                {% endif %}
              {% endfor %}
              {% if products.has_next %}
                <li class="waves-effect"><a href="?page={{ products.next_page_number }}"><i class="material-icons" style="color: white;">chevron_right</i></a></li>
              {% else %}
                <li class="disabled" style="color: grey;"><i class="material-icons">chevron_right</i></li>
              {% endif %}
            </ul>
          {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js"></script>
</body>
</html>